

  #histogram-container {
    display: flex;
    justify-content: center; 
    visibility:hidden; /*el mostrarem amb javascript en clicar el boto de l'histograma*/          
  }

  .bar-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-right: .1em; /*AMPLADA HISTOGRAMA*/
  }

  .bar {
    background-color: #3498db;
  }

  .bar-label {
    margin-top: 1.5em;
    font-size: .2em;
  }



  /*ETIQUETES PER A LA X AMB ELS LI I LS DE L'INTERVAL*/
  .etiqueta-Eix-X-ls, .etiqueta-Eix-X-li {font-size: .15em; font-style: italic;}
  .etiqueta-Eix-X-li {margin-top: 1em; font-style: italic;}
  .separador {font-size: .2em; transform: rotate(90deg);}

  /*INFORMACIO ELEMENTS NO REPRESENTATS EN HISTOGRAMA*/
  #remanentsHistograma {font-size: .2em; text-align: center; margin-top: 1em;}
